/* General Styles */
.acf-smart-button-fields {
  width: 100%;
  max-width: 700px;
}

.acf-smart-button .hidden {
  display: none;
}

.acf-smart-button td {
  padding-right: 10px;
}

.acf-smart-button label {
  display: block;
  color: #999;
  padding-bottom: 5px;
}

.acf-smart-button .switch {
  margin-top: 20px;
  margin-bottom: 0;
}

.acf-smart-button-fields .acf-field-post-object, .acf-smart-button-fields input.external {
  min-width: 200px;
  padding-left: 25px;
  margin: 0;
}

.acf-smart-button-fields .acf-field-post-object.acf-field {
  padding: 0 !important;
}

.acf-smart-button-fields .acf-field-post-object.acf-field .select2-selection {
  border: 1px solid #ddd;
  border-radius: 0;
}

.acf-smart-button-fields td > label {
  display: inline-block;
  margin-bottom: 10px;
}

.acf-smart-button-fields td {
  padding-right: 10px;
}

.button-link-switch-text {
  display: inline-block;
  position: relative;
  top: -12px;
  margin-right: 10px;
}

.button-link-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-link-switch-checkbox {
  display: none !important;
}

.button-link-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  background-color: #EEEEEE;
  line-height: 25px;
  padding: 0;
  border: 1px solid #999999;
  border-radius: 25px;
  margin-bottom: 0;
  transition: background-color 0.2s ease;
}

.button-link-switch-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  width: 25px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 25px;
  margin: 0px;
  transition: all 0.2s ease 0s;
}

.button-link-switch-checkbox:checked + .button-link-switch-label {
  background-color: #00a0d2;
}

.button-link-switch-checkbox:checked + .button-link-switch-label,
.button-link-switch-checkbox:checked + .button-link-switch-label::before {
  border-color: #00a0d2;
}

.button-link-switch-checkbox:checked + .button-link-switch-label::before {
  right: 0px;
}

/* Sidebar Styles */
#side-sortables .acf-smart-button-fields td {
  float: left;
  width: 100%;
}

/* Gutenberg Layout Styles */
.gutenberg .acf-block-fields .acf-smart-button-fields td {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.gutenberg .acf-block-fields .acf-smart-button-fields td label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}

.gutenberg .acf-block-fields .acf-smart-button-fields .acf-field-post-object {
  min-width: 100%;
}

.gutenberg .acf-block-fields .acf-smart-button-fields .acf-field-post-object.acf-field {
  font-size: 14px;
  padding: 0 !important;
}

.gutenberg .acf-smart-button-fields .button-link-switch-label::before {
  right: 25px;
}

.gutenberg .acf-smart-button-fields .button-link-switch-checkbox:checked+.button-link-switch-label::before {
  right: 0;
}

.gutenberg .acf-block-fields table.acf-smart-button-fields,
.gutenberg .acf-block-fields table.acf-smart-button-fields tbody,
.gutenberg .acf-block-fields table.acf-smart-button-fields tbody tr {
  display: block;
}
